XZS_DB_USERNAME=root
XZS_DB_PASSWORD=replace-with-a-random-local-password
XZS_RSA_PUBLIC_KEY=base64-x509-public-key
XZS_RSA_PRIVATE_KEY=base64-pkcs8-private-key
XZS_ADMIN_PASSWORD=replace-with-a-local-admin-password
XZS_STUDENT_PASSWORD=replace-with-a-local-student-password
